.h1 {
    position: center;
    color: blue;          
}

.body {
    background-color: rgba(255, 0, 255, 0.055);
}

.Excel {
width: 1200px;
height: 750px ;
}

.Rodape {
 display flex;
 margin 10px;  

}